@inject IServiceProvider ServiceProvider

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <a href=@Routes.Home
           class="navbar-brand">
            StarWarX
        </a>

    </div>
</nav>